@import './../../colors.scss';

.login {
  &__title {
    text-align: center;
    margin-bottom: 20px;
    font-weight: 700;
    color: $darkGrey;
    font-family: Poppins;
    font-size: 42px;

    @media (max-width: 768px) {
      font-size: 32px;
      margin-bottom: 10px;
    }
  }

  &__block {
    display: flex;
    justify-content: center;
  }

  &__label {
    display: flex;
    flex-direction: column;
    margin-top: 44px;

    @media (max-width: 768px) {
      margin-top: 20px;
    }

    &>span {
      margin-bottom: 13px;
      font-size: 16px;
      color: $grey;
      font-family: Poppins;

      @media (max-width: 768px) {
        margin-bottom: 5px;
      }
    }
  }

  &__forgot {
    color: $grey;
    font-family: Poppins;
    text-align: right;
    margin-bottom: 25px;
    margin-top: 15px;
    font-size: 16px;
    
    @media (max-width: 768px) {
      margin-bottom: 10px;
      margin-top: 10px;
    }
  }

  &__input {
    height: 65px;
    font-size: 18px;
    max-width: 600px;
    width: 100%;
    font-family: Poppins;
    background-color: transparent;
    padding-left: 26px;
    padding-right: 26px;
    border: 1px solid $ashGrey;
    box-shadow: 0px 70px 0px $bgColor inset;
    border-radius: 4px;
    outline: none;

    @media (max-width: 768px) {
      height: 40px;
    }

    &--error {
      border: 1px solid $red;
    }
  }

  &__btn {
    height: 48px;
    max-width: 600px;
    width: 100%;
    background: $darkBlue;
    border: 1px solid $blue;
    color: #fff;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
  }

  &__form {
    max-width: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
  }

  &__signUp {
    text-align: center;
    margin-top: 125px;
    margin-bottom: 125px;
    font-family: Poppins;
    color: $grey;
    font-size: 16px;
    padding-left: 20px;
    padding-right: 20px;

    @media (max-width: 768px) {
      margin-bottom: 30px;
      margin-top: 30px;
    }

    &-link {
      text-decoration: none;
      color: $blue;
      white-space: nowrap;
    }
  }
}

.errorMessage {
  font-family: Poppins;
  color: $red;
  margin-top: 5px;
  font-size: 12px;
}

#__lpform_email_icon , #__lpform_password_icon{
  display: none;
}
