.founder-main__container {
    max-width: 80%; width: 100%;
    margin: 0 auto;
}
.founder-main__improve-listing {
    max-width: 100%; width: 100%;
}
.improve-listing__title {
    font-family: Poppins;
    font-weight: 600;
    font-size: 28px;
    line-height: 22px;
    color: #0B1C34;
}
.improve-listing__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 32px;
    row-gap: 32px;
    flex-wrap: wrap;
    margin: 35px 0 82px;
}
.improve-listing__completion-butn {
    max-width: 258px; width: 100%;
}
.improve-listing__add-metrics-butn {
    max-width: 162px; width: 100%;
}
.founder-main__informations {
    max-width: 100%; width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 59px;
    margin-bottom: 56px;
    border-bottom: 1px dashed #D7D7D7;
}

.founder-main__public-info {
    max-width: 744px; width: 100%;
}
.public-info__title,
.private-info__title,
.metrics__title {
    font-family: Poppins;
    font-weight: 600;
    font-size: 28px;
    line-height: 22px;
    color: #0B1C34;
    display: flex;
    justify-content: flex-starts;
    align-items: center;
    column-gap: 14px;
    margin-bottom: 8px;
}
.public-info__title::after,
.private-info__title::after,
.private-info__title::before,
.metrics__title::after {
    content: '';
    width: 18px;
    height: 18px;
    background-image: url('../../assets/icons/my-startup/orange-sign.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.public-info__text,
.private-info__text {
    font-family: Poppins;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #6E6E6E;
}
.public-info__items {
    max-width: 744px; width: 100%;
    margin: 26px 0;
}

.founder-main__private-info {
    max-width: 647px; width: 100%;
    padding: 56px 32px;
    background-color: #FFFFFF;
}
.private-info__title::before {
    width: 29px;
    height: 35px;
    background-image: url('../../assets/icons/my-startup/green-tick.png');
}
.private-info__edit-info-butn {
    width: 62px;
    height: 31px;
    border: none;
    outline: none;
    font-family: Poppins;
    font-weight: normal;
    font-size: 14px;
    color: #F3BD1F;
    border-bottom: 1px dashed #F1B400;
    background-color: inherit;
    cursor: pointer;
    transition: all 0.2s linear;
}
.private-info__edit-info-butn:hover {
    background-color: #F1B400;
    color: #FFFFFF;
    border-radius: 4px;
}
.private-info__actions {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    column-gap: 26px;
}
.private-info__text {
    margin-left: 45px;
    margin-top: -7px;
}
.private-info__auto-approve,
.private-info__intro-text {
    font-family: Poppins;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #231F20;
    margin: 37px 0 41px;
}
.private-info__intro-text {
    font-size: 14px;
    color: #6E6E6E;
    margin-bottom: 12px;
}
.private-info__watch-video-butn {
    width: 187px;
    height: 36px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 13px;
    font-family: Poppins;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #1469FF;
    background-color: inherit;
    border: none;
    outline: none;
    margin-bottom: 41px;
    cursor: pointer;
    transition: all 0.2s linear;
}
.private-info__watch-video-butn::before {
    content: '';
    width: 36px;
    height: 36px;
    background-image: url('../../assets/icons/my-startup/blue-play.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.private-info__user-info-box {
    margin-bottom: 36px;
}
.private-info__user-info-box > p,
.private-info__user-info-box > h5,
.user-info-box__email,
.user-info-box__website {
    font-family: Poppins;
    font-weight: normal;
    font-size: 14px;
    color: #6E6E6E;
}
.private-info__user-info-box > h5,
.user-info-box__email,
.user-info-box__website {
    font-weight: 600;
    font-size: 18px;
    color: #231F20;
    margin-top: 3px;
}
.user-info-box__email,
.user-info-box__website {
    display: block;
    text-decoration: none;
}
.user-info-box__website {
    color: #05C8FF;
}
.private-info__user-info-box-pitch {
    margin-top: 66px;
}
.private-info__user-info-box-pitch > p,
.private-info__user-info-box-pitch > h5 {
    font-family: Poppins;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #231F20;
}
.private-info__user-info-box-pitch > h5 {
    font-weight: normal;
    font-size: 14px;
    color: #6E6E6E;
    margin-top: 3px;
}
.private-info__upload-files-box {
    margin: 30px 0 19px;
    width: 227px;
    height: 226px;
    background-color: #FBFBFB;
    border: 1px dashed #D7D7D7;
    display: flex;
    justify-content: center;
    align-items: center;
}
.private-info__upload-files-box > label {
    width: 118px;
    height: 105px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.private-info__upload-files-box > label > div {
    width: 70px;
    height: 70px;
    border: 1px dashed #D7D7D7;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.private-info__upload-files-box > label > div::before {
    content: '';
    width: 24px;
    height: 24px;
    background-image: url('../../assets/icons/my-startup/gray-plus.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.private-info__upload-files-box > label > span {
    font-family: Poppins;
    font-weight: 300;
    font-size: 12px;
    line-height: 22px;
    color: #6E6E6E;
}
.private-info__upload-files-box > input {
    display: none;
}

.founder-main__metrics {
    max-width: 100%; width: 100%;
}
.metrics__action-box {
    max-width: 100%; width: 100%;
    min-height: 505px; height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    border: 1px dashed #D7D7D7;
    margin-top: 62px;
}
.action-box__content {
    max-width: 439px; width: 100%;
    text-align: center;
}
.metrics__suggestion {
    font-family: Poppins;
    font-weight: 700;
    font-size: 32px;
    line-height: 47px;
    color: #231F20;
}
.metrics__description {
    font-family: Poppins;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #6E6E6E;
    margin: 20px 0 43px;
}