.public-info__item-box {
    max-width: 100%; width: 100%;
    min-height: 240px; height: 100%;
    border: 1px dashed #D7D7D7;
    margin-bottom: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.public-info__content {

}
.public-info__suggestion {
    font-family: Poppins;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #231F20;
    margin-bottom: 8px;
    text-align: center;
}
.public-info__description {
    font-family: Poppins;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #6E6E6E;
    margin-bottom: 34px;
    text-align: center;
}
.public-info__add-info-butn {
    width: 192px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #D7D7D7;
    margin: 0 auto;
    font-family: Poppins;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #231F20;
    cursor: pointer;
    background-color: inherit;
    transition: all 0.2s linear;
}
.public-info__add-info-butn:hover {
    color: #1469FF;
    border: 1px solid #1469FF;
}