.improve-listing__card {
    max-width: 486px; width: 100%;
    min-height: 268px; height: 100%;
    padding: 33px 32px 29px 34px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 28px rgba(0, 0, 0, 0.03);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.improve-listing__info-box {
    max-width: 396px; width: 100%;
}
.improve-listing__info {
    font-family: Poppins;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #0B1C34;
    margin-bottom: 10px;
}
.improve-listing__text {
    font-family: Poppins;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #6E6E6E;
}
.improve-listing__completion-area {
    max-width: 322px; width: 100%;
    min-height: 6px; height: 100%;
    background-color: #F0F0F0;
    border-radius: 4px;
    margin-top: 20px;
}
.improve-listing__completion-line {
    width: 20%;
    min-height: 6px; height: 100%;
    background-color: #05C8FF;
    border-radius: 4px;
}