.selling {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 37px;
}

.selling__title {
    font-family: Poppins;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #231F20;
}

.selling__selling-purpose, 
.selling__financing {
    margin-top: 37px;
}

.selling-purpose__title,
.financing__title {
    font-family: Poppins;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #6E6E6E;
    margin-bottom: 10px;
}

.selling-purpose__text,
.financing__text {
    font-family: Poppins;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #0B1C34;
}