.founder-footer {
    max-width: 1920px; width: 100%;
    min-height: 203px; height: 100%;
    flex-shrink: 0;
}
.founder-footer__container {
    max-width: 80%; width: 100%;
    min-height: 203px; height: 100%;
    border-top: 1px dashed #D7D7D7;
    margin: 0 auto;
    padding: 16px 0;
}
.founder-footer__content {
    font-family: Poppins;
    font-weight: 400;
    font-size: 16px;
    color: #6E6E6E;
    text-align: center;
}
.founder-footer__content > a {
    text-decoration: none;
    font-weight: 600;
    color: #231F20;
    margin-left: 10px;
}