.founder-nav {
    max-width: 1920px; width: 100%;
    min-height: 60px; height: 100%;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 28px rgba(0, 0, 0, 0.06);
    /* margin: 0 auto; */
}
.founder-nav__container {
    max-width: 80%; width: 100%;
    min-height: 60px; height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 125px;
}
.founder-nav__logo-butn {
    font-family: Poppins;
    font-weight: 600;
    font-size: 20px;
    color: #231F20;
    cursor: pointer;
    border: none; outline: none;
    background-color: inherit;
}
.founder-nav__menu-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 86px;
}
.founder-nav__menu-list li {
    list-style: none;
    font-family: Poppins;
    font-weight: 500;
    font-size: 16px;
}
.founder-nav__menu-list li a {
    text-decoration: none;
    color: #0B1C34;
}
.founder-nav__menu-list li a.active,
.founder-nav__menu-list li a:hover {
    color: #1469FF;
}