$darkGrey: #231F20;
$grey: #6E6E6E;
$lightGrey: #AFAFAF;
$ashGrey: #D7D7D7;
$iceGrey: #F0F0F0;

$red: #D80000;
$orange: #F1B400;

$darkBlue: #0B1C34;
$blue: #1469FF;
$lightBlue: #05C8FF;

$bgColor: #FBFBFB;
